body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

div > img {
  width: 100%;
  object-fit: cover;
}

div {
  width: 200px;
  padding: 10px;

  border-radius: 16px;
}

form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

form > input {
  width: 300px;
  padding: 5px 10px;
  border-radius: 4px;
}

.wrapperMovies {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.wrapperMovies > div {
  box-shadow: 0 0 6px 2px #0000002c;
}
