body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  border: 2px solid;
  border-radius: 8px;
  width: 270px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100px;
}
